<p>Welcome <%= @user.name %></p>
<%= @user.email %>

<% if @events.nil? %>
  <h2>List of your posts</h2>
  <ul> 
    <% @events.each do |event| %>
      <li><%= event.title %></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Create a New event", url:'events/new' %>
<% end %>