<h1>List of upcoming events</h1>

<%= render partial:'shared/event_list', locals:{events:@upcoming_events}%>

<h1>List of past events</h1>

<%= render partial:'shared/event_list', locals:{events:@past_events}%>